<%= image_tag "preview.png", :id => "preview" %>
<div id="content">
  <h1>ZoomTag</h1>
  <p>
    Challange your friends to identify the content of an image that you choose
  </p>
  <p>
    <%= image_tag "appstore_black.png" %>
  </p>
</div>

