- content_for :meta do
  %meta{:content => "515511105188973", :property => "fb:app_id"}/
  %meta{:content => "zoomtag:zoomtag", :property => "og:type"}/
  %meta{:content => request.original_url, :property => "og:url"}/
  %meta{:content => "Sample Zoomtag", :property => "og:title"}/
  %meta{:content => "https://fbstatic-a.akamaihd.net/images/devsite/attachment_blank.png", :property => "og:image"}/
- content_for :title do
  ZoomTag is awesome